.Header {
    position: fixed;
    width: 100%;
    padding-top: 60px;
    background: #FFFFF4;
    z-index: 100;
}

.HeaderContent {
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1240px;
    /* display: grid;
    grid-template-columns: auto max-content; */
    align-items: center;
}

.HeaderTitle {
    width: 403px;
    font-weight: 700;
    line-height: 15px;
    float: left;
}

.HeaderImage {
    margin: 15px;
    width: 87px;
    height: 75px;
    float: right;
}
