.ProjectCard {
    height: 350px;
    position: relative;
    margin-bottom: 25px;
}

.ProjectImage img {
    width: 300px;
    height: 300px;
    border: solid;
    border-width: 1px;
    border-color: #484848;
    border-radius: 5px;
}

.ProjectHeader {
    max-width: 276;
    margin: 12px 12px 12px 12px;
}

.ProjectHeader p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}