.ProjectGrid {
    position: absolute;
    top: 180px;
    left: 334px;
}

.CardGrid {
    margin: 100px 0 100px 165px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.CurrentMedium {
    font-weight: 500;
}

@media (max-width: 1300px) {
    .CardGrid {
        margin: 100px 0 100px 250px;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (max-width: 1100px) {
    .CardGrid {
        margin: 100px 0 100px 165px;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (max-width: 950px) {
    .HeaderContent {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .HeaderTitle p {
        font-size: 24px;
    }

    .HeaderImage img {
        height: 60px;
    }

    .Nav {
        display: none;
    }
    
    .ProjectGrid {
        width: 100%;
        top: 280px;
        left: 0;
    }

    .CardGrid {
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

@media (max-width: 650px) {
    .ProjectGrid {
        top: 225px;
    }

    .HeaderImage {
        display: none;
    }
}

@media (max-width: 400px) {
    .HeaderTitle p {
        font-size: 20px;
    }
}