.ProjectDisplay{
    position: absolute;
    top: 200px;
    left: 334px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.ImageGrid {
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 165px;
    overflow: hidden;
    border-radius: 10px;
}

.ImageGrid img {
    width: 450px;
    height: 450px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #E1E1E1;
}

.ProjectInfo {
    margin-top: 100px;
    margin-left: 30px;
}

.ProjectInfo h1 {
    margin-top: 0px;
    font-size: 18px;
    line-height: 15px;
}

.ProjectInfo p {
    width: 280px;
    margin-left: 30px;
    font-size: 16px;
}

.EmptyState {
    position: absolute;
    top: 260px;
    left: 500px;
    width: 500px;
}

.EmptyState p {
    font-size: 24px;
    font-weight: 500;
    line-height: 15px;
}



@media (max-width: 1350px) {
    .ImageGrid {
        margin-left: 100px;
    }
}

@media (max-width: 1250px) {
    .ProjectDisplay {
        grid-template-columns: repeat(1, 1fr);
    }

    .ImageGrid {
        margin-left: 165px;
    }

    .ProjectInfo {
        margin-top: 40px;
        margin-left: 165px;
    }  
}

@media (max-width: 1050px) {
    .Nav {
        display: none;
    }
    
    .ProjectDisplay {
        margin: 0 auto;
        width: 100%;
        left: 0;
        justify-items: center;
    }

    .ProjectInfo {
        margin-top: 40px;
        margin-left: 100px;
    }

    .ImageGrid {
        width: 350px;
        height: 350px;
        margin-top: 40px;
        margin-left: 0;
    }

    .ImageGrid img {
        width: 350px;
        height: 350px;
    }

    .ProjectInfo {
        margin-left: 0;
    }

    .EmptyState {
        top: 260px;
        left: 100px;
    }
}

@media (max-width: 800px) {
    .EmptyState {
        top: 260px;
        left: 50px;
        width: 300px;
    }

    .EmptyState p {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .ProjectDisplay {
        top: 150px;
    }

    .ImageGrid {
        width: 325px;
        height: 325px;
    }

    .ImageGrid img {
        width: 325px;
        height: 325px;
    }
}


